<h1>Lists</h1>
<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %> <%= link_to 'Delete this list', list_path(list), data: {turbo_method: :delete, turbo_confirm: 'Are you sure ?'}%></li>
  <% end %>
</ul>

<%= link_to 'Add a new list', new_list_path %>
