<h1>Lists</h1>

<% @list.bookmarks.each do |bookmark| %> 
    <%= bookmark.comment %>
    <%= bookmark.movie.title %>
<% end %>

<%= link_to 'Add a bookmark for this list', new_list_bookmark_path(@list) %>
<%= link_to 'Go back to list of lists', lists_path %>
