<h1>Lists</h1>

<% @bookmark.each do |bookmark| %>
<%= bookmark.comment %>
<%= bookmark.movie_id %>
<% end %>
<%= link_to 'Add a bookmark for this list', new_list_bookmark_path(@list) %>
<%= link_to 'Go back to list of lists', lists_path %>
